@use "../global/" as *;

.footer {
  &__head {
    position: relative;
    padding-left: per(20, 400);
    padding-right: per(20, 400);
    background: linear-gradient(180deg, var(--color-bg) 0%, var(--color-bg) 50%, var(--color-gray) 50%, var(--color-gray) 100%);

    @include mq("pc") {
      padding-left: rem(40);
      padding-right: rem(40);
    }

  }

  &__contact {
    margin-inline: auto;

    @include mq("pc") {
      max-width: rem(1840);
    }
  }

  &__inner {
    max-width: calc(rem(1400) + rem(80)); // 左右padding分足す
    margin-inline: auto;
    padding-left: per(32, 400);
    padding-right: per(32, 400);

    @include mq("pc") {
      padding-left: rem(40);
      padding-right: rem(40);
    }
  }

  &__catch {}

  &__info {
    padding-top: rem(40);
    padding-bottom: rem(18);

    @include mq("pc") {
      padding-top: rem(100);
      padding-bottom: rem(40);
    }
  }

  &__foot {
    padding-bottom: rem(40);
    background-color: var(--color-bg);
  }

  &__navigation {
    padding-top: rem(20);
    border-top: 1px solid var(--color-border02);

    @include mq("pc") {
      padding-top: rem(40);
    }
  }

  &__submenu {
    margin-top: rem(40);
    padding-top: rem(20);
    border-top: 1px solid var(--color-border02);
  }
}