@use "../global/" as *;

.post-password-form {
	max-width: rem(1000);
	margin-inline: auto;

	label {
		display: block;
		margin-top: rem(40);
		text-align: left;

		@include mq("pc") {
			margin-top: rem(80);
		}
	}

	p {
		text-align: center;

		&:nth-child(2) {
			display: flex;
			align-items: flex-end;
			justify-content: center;
		}
	}

	input {
		width: 100%;
		padding: rem(7) rem(20);
		border: 1px solid var(--color-border);
		background-color: var(--color-white);
		font-size: rem(16);
		line-height: lh(16, 32);

		&::placeholder {
			color: #ccc;
		}

		&:focus {
			outline: 2px solid var(--color-main);
		}

		&[type=submit] {
			width: fit-content;
			margin-left: rem(20);
			padding: rem(8) rem(20);
			border-radius: rem(7);
			background-color: var(--color-main);
			box-shadow: 4px 4px 16px rgba(233, 247, 247, 0.7);
			font-size: rem(14);
			font-weight: 700;
			color: var(--color-white);

			@include mq("pc") {
				font-size: rem(16);
			}
		}
	}
}